.header {
  height: 120px;
  background-image: linear-gradient(180deg, #f63f2e, #fe6233);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__list {
  padding: 0;
}

.navbar__list-item {
  margin: 0 10px;
  position: relative;
  cursor: pointer;
}

.navbar__list-item--separate::after {
  content: "";
  display: block;
  height: 16px;
  width: 1px;
  position: absolute;
  background-color: white;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar__list-item--bold {
  font-weight: bold;
}

.navbar__list-item,
.item__link {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  color: var(--white-color);
  font-size: 1.3rem;
  transition: all 0.1s;
  display: inline-flex;
}

.navbar__list-item:hover,
.item__link:hover {
  color: rgba(255, 255, 255, 0.726);
}

.list-item__icon {
  font-size: 1.6rem;
}

.list-item--no-pointer {
  cursor: initial;
}

.list-item--no-pointer:hover {
  color: var(--white-color);
}

.dropdown {
  position: relative;
}

.dropdown__container {
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: var(--white-color);
  border-radius: 2px;
  animation: fade ease 0.3s;
  display: none;
  z-index: 9999;
}

.dropdown__container::before {
  position: absolute;
  content: "";
  display: block;
  height: 20px;
  width: 100%;
  left: 0;
  top: -7%;
}

.dropdown:hover .dropdown__container {
  display: flex;
}

.dropdown__flex {
  display: flex;
  justify-content: space-between;
}

.dropdown__flex img {
  height: 16px;
}

.dropdown__flex a:nth-child(1) {
  margin-left: 10px;
}

.dropdown__flex a:nth-child(2) {
  margin-right: 10px;
}

.search {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 40px;
}

.sub-header {
  margin-top: 10px;
}

.logo svg {
  width: 162px;
  fill: var(--white-color);
}

.filter__list {
  display: flex;
  padding: 0;
  font-size: 1.2rem;
  margin: 0;
  margin-top: 5px;
}

.filter__list-item {
  list-style: none;
  color: rgba(255, 255, 255, 0.849);
  cursor: pointer;
}

.filter__list-item + .filter__list-item {
  margin-left: 8px;
}

.search__bar {
  padding: 14px;
  width: 100%;
  border-radius: 2px;
  outline: none;
  border: none;
  font-size: 1.6rem;
}

.textbox {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
}

.search__btn {
  padding: 10px 25px;
  position: absolute;
  right: 0;
  margin-right: 4px;
  border: none;
  background-color: #fa5130;
  color: var(--white-color);
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.3s;
}

.search__btn:hover {
  background-color: #a71c01;
}

.cart {
  margin: auto;
  cursor: pointer;
  position: relative;
}

.cart:hover .cart__dropdown{
display: flex;
}

.cart i {
  font-size: 2.6rem;
  color: white;
  margin: auto;
}

.notify {
  position: relative;
}

.notify:hover .list-item__poppover {
  display: block;
}

.list-item__poppover {
  display: none;
  color: black;
  background-color: white;
  position: absolute;
  width: 400px;
  top: 150%;
  right: 0;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 2px;
  z-index: 9999;
  transform-origin: calc(100% - 20px) top;
  will-change: transform, opacity;
  animation: scaleTop ease 0.3s;
}

.list-item__poppover::before {
  content: "";
  position: absolute;
  right: -1px;
  top: -25px;
  border-color: transparent transparent white;
  border-style: solid;
  border-width: 15px 25px;
}

.list-item__poppover::after {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 20px;
  right: 0;
  top: -10px;
}

@keyframes scaleTop {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.popcontent-title {
  font-weight: bold;
  font-size: 1.4rem;
}

.popcontent-main {
  margin-top: 8px;
  font-weight: light;
  font-size: 1.3rem;
  color: rgb(99, 99, 99);
}

.poppover__header {
  padding: 14px;
}

.poppover__title {
  cursor: default;
  margin: 0;
  font-weight: 400;
  color: rgb(190, 190, 190);
}

.poppover__list {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: scroll;
}

.poppover__list-link {
  text-decoration: none;
}

.poppover__list-item {
  display: flex;
  background-color: #f63f2e13;
  padding: 14px;
  transition: all 0.3s;
}

.poppover__list-item:hover {
  background-color: #f63f2e4b;
}

.poppover__img {
  max-width: 50px;
  margin-right: 8px;
}

.poppover__content {
  display: flex;
  flex-direction: column;
}

.poppover__btn {
  width: 100%;
  text-align: center;
  padding: 8px;
  font-size: 1.3rem;
  border: none;
  background-color: rgba(241, 241, 241, 0.11);
  cursor: pointer;
  transition: all 0.3s;
}

.poppover__btn:hover {
  background-color: rgba(0, 0, 0, 0.205);
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.158);
  justify-content: center;
  align-items: center;
  animation: fade 0.3s;
  display: none;
}

.modal__container {
  min-width: 400px;
  background-color: white;
  padding: 20px 30px;
  border-radius: 2px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  animation: fadeDown 0.3s;
  display: none;
  position: relative;
}

.modal__header {
  margin-bottom: 22px;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  padding: 1.4rem 1.8rem;
  transition: all 0.3s;
  color: rgb(116, 116, 116);
}

.close-btn:hover {
  background-color: rgb(238, 237, 237);
  cursor: pointer;
  color: black;
}

.modal__header-title {
  font-size: 2rem;
  color: #222;
  font-weight: 400;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-tel {
  padding: 12px;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.modal__form-tel::placeholder {
  color: #ccc;
  font-weight: 300;
}

.modal__form-btn {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  color: #fff;
  background-color: #ee4d2d;
  box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
  border: none;
  text-transform: uppercase;
  font-size: 1.9rem;
  padding: 10px 0px;
  cursor: pointer;
  transition: all 0.3s;
}

.modal__form-btn:hover {
  background-color: #ee4d2dc2;
}

.modal__divider {
  margin: 14px 0px;
  text-align: center;
  font-size: 1.3rem;
  color: #ccc;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.modal__divider-text {
  padding: 0 16px;
}

.modal__divider-line {
  height: 1px;
  width: 100%;
  background-color: #dbdbdb;
  flex: 1;
}

.modal__footer-grp {
  display: flex;
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
}

.modal__footer-btn {
  border: 1px solid #ccc;
  background: none;
  width: 100%;
  font-size: 1.9rem;
  cursor: pointer;
  border-radius: 2px;
  margin: 5px;
  transition: all 0.3s;
  padding: 10px 0px;
}

.modal__footer-btn:hover {
  background-color: rgb(238, 238, 238);
}

.modal__footer-ico {
  margin-right: 5px;
}

.modal__footer-ico--fb {
  color: #1877f2;
}

.modal__footer-ico--gg {
  color: #ea4436;
}

.modal__footer-notify {
  margin: 30px 25px;
  text-align: center;
  font-weight: 300;
}

.modal__footer-link {
  text-decoration: none;
  cursor: pointer;
  color: #f27448;
  font-weight: 300;
}

.modal__footer-help {
  text-align: center;
  font-weight: 300;
}

.modal__form-forgot {
  display: flex;
  justify-content: space-between;
}

.modal__form-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #426ab2;
}

.cart__dropdown {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 2px;
  display: none;
  animation: scaleDown .3s;
  transform-origin: calc(100% - 20px) top;
}

.cart__dropdown::after{
  content: '';
  display: block;
  border-style: solid;
  border-width: 10px 12px;
  border-color: transparent transparent white transparent;
  position: absolute;
  top: -18px;
  right: 1px;
}

.cart__dropdown-header {
  padding: 12px;
  font-size: 1.4rem;
  color: rgb(206, 206, 206);
  font-weight: lighter;
  margin: 0;
  background-color: #fcfcfc;
}

.cart__dropdown-list {
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  height: 200px;
}

.cart__dropdown-footer {
  padding: 12px;
  background-color: #fcfcfc;
  display: flex;
  justify-content: flex-end;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 12px;
  align-items: center;
  transition: all .3s;
}

.cart-item:hover{
  background-color: #fdedec
}

.cart-item__img {
  width: 38px;
  border: 1px solid #ccc;
}

.cart-item__title {
  font-size: 1.4rem;
  flex-grow: 1;
  margin: 0px 8px;
}

.cart-item__price {
  font-size: 1.4rem;
  color:#ea4436;
}

.dropdown-footer__btn{
  border: none;
  padding: 10px 20px;
  font-size: 1.4rem;
  color:white;
  background-color: #F94B30;
  border-radius: 2px;
  transition: all .3s;
}

.dropdown-footer__btn:hover{
  cursor: pointer;
  background-color:#f94b30be; ;
}
